
$primary-1: hsl(41, 100%, 7%);
$primary-2: hsl(39, 100%, 16%);
$primary-3: hsl(37, 100%, 27%);
$primary-4: hsl(36, 100%, 40%);
$primary-5: hsl(35, 100%, 55%);
$primary-6: hsl(36, 100%, 72%);
$primary-7: hsl(37, 100%, 85%);
$primary-8: hsl(39, 100%, 94%);
$primary-9: hsl(42, 100%, 98%);
$primary: $primary-5;

$secondary-1: hsl(178, 100%, 5%);
$secondary-2: hsl(180, 100%, 10%);
$secondary-3: hsl(179, 100%, 20%);
$secondary-4: hsl(180, 100%, 28%);
$secondary-5: hsl(180, 100%, 38%);
$secondary-6: hsl(180, 100%, 45%);
$secondary-7: hsl(180, 100%, 75%);
$secondary-8: hsl(180, 100%, 91%);
$secondary-9: hsl(180, 100%, 98%);
$secondary: $secondary-5;

$gray-1: hsl(210, 15%, 5%);
$gray-2: hsl(195, 11%, 15%);
$gray-3: hsl(195, 6%, 26%);
$gray-4: hsl(203, 4%, 40%);
$gray-5: hsl(206, 3%, 55%);
$gray-6: hsl(197, 5%, 70%);
$gray-7: hsl(192, 6%, 85%);
$gray-8: hsl(195, 11%, 93%);
$gray-9: hsl(210, 20%, 98%);
$gray: $gray-5;

$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);