@font-face {
  font-family: 'Qwigley';
  src: url('../fonts/Qwigley-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format("truetype"),
       url('../fonts/Roboto-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf') format("truetype"),
       url('../fonts/RobotoCondensed-Bold.ttf') format("truetype");
}

$font-fancy: "Qwigley";
$font-condensed: "Roboto Condensed";