
$shadow-1: 0 0.1rem 0.3rem hsla(0, 0%, 0, 0.12), 0 0.1rem 0.2rem hsla(0, 0%, 0, 0.24);
$shadow-2: 0 0.3rem 0.6rem hsla(0, 0%, 0, 0.15), 0 0.2rem 0.4rem hsla(0, 0%, 0, 0.12);
$shadow-3: 0   1rem   2rem hsla(0, 0%, 0, 0.15), 0 0.3rem 0.6rem hsla(0, 0%, 0, 0.10);
$shadow-4: 0 1.5rem 2.5rem hsla(0, 0%, 0, 0.15), 0 0.5rem   1rem hsla(0, 0%, 0, 0.05);
$shadow-5: 0   2rem   4rem hsla(0, 0%, 0,  0.2);