@use "sass:map";

$size-1: 0.4rem;
$size-2: 0.8rem;
$size-3: 1.2rem;
$size-4: 1.6rem;
$size-5: 2.4rem;
$size-6: 3.2rem;
$size-7: 4.8rem;
$size-8: 6.4rem;
$size-9: 9.6rem;
$size-10: 12.8rem;
$size-11: 19.2rem;
$size-12: 25.6rem;
$size-13: 38.4rem;
$size-14: 51.2rem;
$size-15: 64.0rem;
$size-16: 76.8rem;


$padding-xs: $size-4;
$padding-md: $size-7;


$heading-sizes: (
  "h6": $size-4,
  "h5": $size-4 * 1.25,
  "h4": $size-4 * 1.5,
  "h3": $size-4 * 1.9,
  "h2": $size-4 * 2.4,
  "h1": $size-4 * 3,
);;