
.header {
  @include flex-y-center;
  width: 100%;
  height: $size-8;
  padding: 0 $padding-x-mobile;
  background-color: $header-active-color;
  transition: background-color 150ms ease-in-out;
  z-index: 10;
  position: sticky;
  top: 0;

  &__nav {
    @include flex;
    margin-left: auto;
  }

  &__nav-btn {
    margin-left: $size-2;
  }
}


@include forSize ("sm") {

  .header {
    padding-right: 37%;
    background-color: transparent;
    position: fixed;
    left: 0;

    &--active {
      padding-right: $size-4;
      background-color: $header-active-color;

      & .header__nav-btn--menu {
        width: auto;
        height: auto;
        background-color: transparent;
        transition: 0ms;
        transform: translate(0, 0);
        position: static;

        &:hover {
          background-color: hsla(0, 0%, 0%, .05);
        }

        & svg {
          transform: translate(0, 0);
        }
      }
    }

    &__nav-btn {
      margin-left: $size-4;

      &--menu {
        width: $size-10;
        height: $size-10;
        background-color: $white;
        transform: translate(50%, -50%);
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
          width: $size-11;
          height: $size-11;
          background-color: $white;
          color: $font-color;
        }

        &:focus {
          box-shadow: inset 0 0 $size-4 $gray-6;
        }

        & svg {
          transform: translate(-170%, 170%);
        }
      }
    }
  }
}


@include forSize ("md") {

  .header {
    padding-right: 48%;

    &--active {
      padding-right: $size-4;
    }
  }
}


@include forSize ("lg") {

  .header {
    height: $size-9;
    padding-left: $size-7;

    &--active {
      height: $size-8;
    }
  }
}