
$animation-duration: 250ms;

.search {
  @include flex-center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  animation: animate-modal-overlay-open $animation-duration;
  animation-fill-mode: forwards;
  
  &--close {
    animation: animate-modal-overlay-close $animation-duration;
    animation-fill-mode: forwards;
  }
  
  &__content {
    opacity: 0;
    position: absolute;
    top: $size-8 + $size-5;
    right: $size-5;
    animation: animate-modal-content-open $animation-duration;
    animation-fill-mode: forwards;

    &:focus {
      outline: none;
    }
  }

  &__box {
    @include flex;
    transform: translateX(-100%);
    position: absolute;
  }

  &__input {
    width: $size-12;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}


@keyframes animate-modal-overlay-open {
  to {
    background-color: $search-background-color;
  }
}

@keyframes animate-modal-content-open {
  to {
    opacity: 1;
  }
}

@keyframes animate-modal-overlay-close {
  to {
    opacity: 0;
  }
}