
.testimonials {
  @include flex-center;
  @include flex-column;
  max-width: $size-16;
  padding: $size-4 $padding-xs $size-6 $padding-xs;

  &__subheading {
    @include heading("h6");
    font-family: $font-condensed;
  }
  
  &__heading {
    margin: $size-4 0;
    @include heading("h4");
    font-family: $font-condensed;
    color: $secondary-4;
    text-align: center;
  }

  &__info {
    @include separated-lines;
    text-align: center;
  }
}


@include forSize("md") {

  .testimonials {
    padding: $size-4 $padding-md;
  
    &__heading {
      @include heading("h3");
    }
  }
}