
.welcome {
  width: 100%;
  padding: $padding-xs;
  padding-bottom: 0;

  &__city {
    color: $primary;
    @extend .font--fancy;
    @extend .font--size-h3;
    font-weight: 400;
  }

  &__camp-name {
    margin: $size-1 0 $size-6 0;
    color: $gray-2;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: $size-7;
  }

  &__info {

    &-box {
      padding-left: $size-4;
      position: relative;
      
      &::before {
        content: '';
        width: 2px;
        height: 48px;
        background-color: $primary;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-heading {
      @extend .font--size-h6;
      letter-spacing: $size-1;
    }

    &-text {
      margin-top: $size-4;
      color: $gray-5;
      line-height: $size-6;
    }
  }

  &__img {
    width: calc(100% + #{$padding-xs * 2});
    height: $size-11;
    margin-top: $size-4;
    margin-left: -$padding-xs;
    margin-right: -$padding-xs;
  }

  &__btn-box {
    @include flex-center;
    height: $size-5;
    margin-bottom: -$size-5;
    transform: translateY(135%);
  }

  &__btn {
    @include flex-center;
    @extend .button--primary;
    width: $size-7 * 0.9;
    height: $size-7 * 0.9;
    padding-left: $size-1 / 2;
    position: relative;

    &::before {
      content: '';
      width: $size-10;
      height: $size-10;
      border-radius: $radius-circle;
      border: 1px solid rgba($gray-6, 0.2);
      position: absolute;
      pointer-events: none;
    }

    &::after {
      content: '';
      width: $size-12;
      height: $size-12;
      border-radius: $radius-circle;
      border: 1px solid rgba($gray-6, 0.2);
      position: absolute;
      pointer-events: none;
    }
  }
}


@include forSize ("sm") {

  .welcome {
    @include flex-x-center;
    @include flex-column;
    flex-wrap: nowrap;
    min-height: 100vh;
    padding: $size-8 40% $size-10 $size-4;
    position: relative;
    
    &__img {
      width: 40%;
      height: 100%;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__btn-box {
      @include flex-center;
      height: $size-8;
      width: $size-8;
      margin: 0;
      margin-top: calc(#{$size-10 - $size-8});
      transform: translate(0, 0);
      position: absolute;
      right: calc(35% + -37px);
      top: initial;
      z-index: 1;
    }
  }
}


@include forSize ("md") {

  .welcome {
    @include flex-x-center;
    @include flex-column;
    flex-wrap: nowrap;
    min-height: 100vh;
    padding: $size-8 55% $size-10 $size-4;
    position: relative;

    &__camp-name {
      font-size: $size-8;
    }

    &__info-box {
      max-width: $size-13;
    }

    &__img {
      width: 55%;
    }

    &__btn-box {
      right: calc(48% + -42px);
    }
    
    &__btn {
  
      &::before {
        width: $size-11;
        height: $size-11;
      }
  
      &::after {
        width: $size-13;
        height: $size-13;
      }
    }
  }
}


@include forSize ("lg") {

  .welcome {
    padding: $padding-md;
    padding-top: 0;

    &__info-box {
      padding-left: $size-8;

      &::before {
        width: 48px;
        height: 2px;
      }
    }
  }
}


@include forSize ("xl") {

  .welcome {
    padding-top: $padding-md;

    &__city {
      font-size: $size-6;
    }

    &__camp-name {
      font-size: $size-9;
    }

    &__btn-box {
      margin-bottom: $padding-md;
    }
  }
}