@import './config/config';
@import './utils/utils';

@import './button';
@import './icon';
@import './input';

@import './app';
@import './header';
@import './logo';
@import './main';
@import './welcome';
@import './learn';
@import './places';
@import './services';
@import './testimonials';
@import './footer';
@import './search';
@import './menu';