
@mixin flex {
  display: flex;
  flex-flow: row wrap;
}



@mixin flex-row {
  @include flex;
  flex-flow: row wrap;
}

@mixin flex-column {
  @include flex;
  flex-flow: column wrap;
}



@mixin flex-x-start {
  @include flex;
  justify-content: flex-start;
}

@mixin flex-x-center {
  @include flex;
  justify-content: center;
}

@mixin flex-y-start {
  @include flex;
  align-items: flex-start;
  align-content: flex-start;
}

@mixin flex-y-center {
  @include flex;
  align-items: center;
  align-content: center;
}

@mixin flex-start {
  @include flex-x-start;
  @include flex-y-start;
}

@mixin flex-center {
  @include flex-x-center;
  @include flex-y-center;
}