@use "sass:map";


@mixin heading ($size) {
  
  @each $heading-size in map.keys($heading-sizes) {
    @if $size == $heading-size {
      font-size: map.get($heading-sizes, $size);
    }
  }

  font-weight: 700;
}

@mixin section-heading {
  @include heading("h4");
  font-family: $font-condensed;
}

@mixin separated-lines {
  line-height: $size-6 * 1.15;
}